/* edit page styling */

.red-text {
    color: red;
}

.gray-card {
    background-color: rgb(60, 60, 60) !important;
}

.custom-margin {
    margin-bottom: 0.5rem; /* adjust this value as per your need */
}

.btn-outline-orange {
    color: #ffeee6;
    border-color: #C92C00 !important;
    border: 1px solid #C92C00 !important; /* Combines border-width, border-style, and border-color */
    background-color: transparent;
}

.btn-outline-orange:focus,
.btn-outline-orange.active {
    color: #ffeee6;
    background-color: #C92C00 !important;
}

.btn-outline-orange:hover {
    color: #ff5f14;
}

#search-results {
    position: absolute;
    z-index: 1;
    width: 100%;
    max-height: 200px;
    overflow: auto;
    background-color: #f4f4f4;
    border: 1px solid #C92C00;
    border-radius: 5px;
}
.search-result {
    padding: 10px;
    cursor: pointer;
}
.search-result:hover {
    background-color: rgb(222, 222, 222);
}

.hidden {
    display: none;
}