/* edit page styling */

.red-text {
    color: red;
}

.gray-card {
    background-color: rgb(206, 206, 206) !important;
}

.custom-margin {
    margin-bottom: 0.5rem; /* adjust this value as per your need */
}

.btn-outline-orange {
    color: #C92C00 !important;
    border-color: #C92C00 !important;
    background-color: transparent;
}

.btn-outline-orange:hover {
    color: #fff !important;
    background-color: #ff5f14 !important;
}