/* edit page styling */

.red-text {
    color: red;
}

.gray-card {
    background-color: rgb(60, 60, 60) !important;
}

.custom-margin {
    margin-bottom: 0.5rem; /* adjust this value as per your need */
}

.btn-outline-orange {
    color: #ffeee6;
    border-color: #C92C00 !important;
    border: 1px solid #C92C00 !important; /* Combines border-width, border-style, and border-color */
    background-color: transparent;
    margin-right: 4px;
}

.btn-outline-orange:focus,
.btn-outline-orange.active {
    color: #ffeee6;
    background-color: #C92C00 !important;
}

.btn-outline-orange:hover {
    color: #ff5f14;
}
