/* background img */
body {
    background-image: url("/static/images/blackbg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* table */
#farsi-table {
    background-color: white;
}

#top-right-corner {
    border-left: solid; 
    /* border-left-width: 100%;  */
    border-left-color: rgba(169, 169, 169, 0.5);
    border-bottom: solid; 
    /* border-bottom-width: 2px;  */
    border-bottom-color: rgba(169, 169, 169, 0.5);
}

.display-inline-block {
    display: inline-block;
}

#tense-col {
    background-color: white;
    border-top: none;
    border-left: solid;
}

.header-style {
    border-bottom: solid !important;
}