/* #name is id */
/* .name is class */
/* nothing at front is tag */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#background-setup {
    background-image: url("/static/images/tower2.jpg");
    background-size: cover;
    background-position: center center;
    height: 100%;
}

