/* #name is id */
/* .name is class */
/* nothing in front is tag */

/* global style sheet */

#background-setup {
    background-image: url("/static/images/tower2.jpg");
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 60px);
}

#unbolded-heading {
  font-weight: normal;
}


body {
  background-color:black
}
