<!-- the following contains pieces of old designs/functions -->

<!-- radio buttons -->
<div class="col-4 d-flex justify-content-center">
  <div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn active">
      <input type="radio" name="options" id="option1" autocomplete="off" value="All" checked>All
    </label>
    <label class="btn">
      <input type="radio" name="options" id="option2" autocomplete="off" value="transitive">Transitive
    </label>
    <label class="btn">
      <input type="radio" name="options" id="option3" autocomplete="off" value="intransitive">Intransitive
    </label>
  </div>
</div>

