<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <title>UT PRS</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/verbs_scss.scss">
    <link rel="stylesheet" href="/static/css/verbs_style.css">

</head>

<body>
  <!-- below nav bar -->
  <div id="background-black">
    <div id="background-setup">
      <br/>

      <!-- container set up of page -->
      <div class="container-fluid text-center">
        <br>
        <h1 id="page-title">Verb List</h1>

        <!-- col need a row container -->
        <div class="row mt-3">

          <!-- verbs table setup -->
          <div class="col-9">
            <br><br>

            <!-- card -->
            <!-- adds padding mx-auto, then mt-5 top margin, w-75 controls width of the card -->
            <div class="card w-75 mx-auto" style="opacity: 0.92;">
              <div class="card-body">
                <div class="card-title">
  
                  <!-- table -->
                  <div class="container px-3 py-3">
                  <table id="farsi-table" class="table table-bordered table-hover">
                    <!-- title -->
                    <thead>
                      <tr>
                        <th scope="col"><h2>English</h2></th>
                        <th scope="col"><h2>Farsi</h2></th>
                      </tr>
                    </thead>
  
                    <!-- body of table -->
                    <tbody>
                      {% for item in verbs %}
                        <!-- row -->
                        <tr class="clickable-row" data-url="{{ url_for ('set_word_dict', word_dict=item)}}">
                            <td scope="row"><h4 id="unbolded-heading">{{ item.english }}</h4></td>
                            <td scope="row"><h4 id="unbolded-heading">{{ item.infinitive }}</h4></td>
                        </tr>
                      {% endfor %}
                    </tbody>
  
  
                  </table>
                </div>
                </div>
              </div>
            </div>
          </div>

          <!-- sorting/filtering/searching setup -->
          <div class="col-3">
            <br><br>
            <div class="card mx-5" style="opacity: 0.92;">
              <div class="card-body">
                <div id="search-bar">
                  <form class="form-inline">
                      <div id="no-padding" class="col-12">
                          <input id="full-width-search-bar" class="form-control" type="search" placeholder="Search" aria-label="Search">
                      </div>
                  </form>
                </div>

                <div class="mt-4" style="text-align: left;">
                  <label>
                    <input type="checkbox" name="spoken_only" value="yes">
                    <span style="padding-left: 5px">Spoken Only</span>
                  </label>
                </div>
              </div>
            </div>
          </div>
          
        </div>
        
      </div>
    </div>
  </div>
    

  <script>
    $(document).ready(function() {
        $('.clickable-row').click(function() {
          const url = $(this).data('url')
          window.location = url; // replace '#' with the URL you want to use
        });
    });

    document.getElementById('full-width-search-bar').addEventListener('input', function() {
        const searchValue = this.value.toLowerCase();
        const table = document.getElementById('farsi-table');
        const rows = table.getElementsByTagName('tr');

        for (let i = 1; i < rows.length; i++) {
            const cells = rows[i].getElementsByTagName('td');
            let showRow = false;

            for (let j = 0; j < cells.length; j++) {
                const cell = cells[j];
                const cellText = cell.textContent || cell.innerText;

                if (cellText.toLowerCase().indexOf(searchValue) > -1) {
                    showRow = true;
                    break;
                }
            }

            rows[i].style.display = showRow ? '' : 'none';
        }
    });

  </script>
</body>

</html>