{% extends 'splash.html' %}

{% block head %}
  <title>Farsi Conjugations</title>
  <link rel="stylesheet" href="/static/css/conjugations_style.css">
{% endblock %}

{% block content %}
<body>
  <div id="content">
    <!-- all page content -->
    <div id="inner-content">
      <div class="container-fluid">
        <!-- top row -->
        <div class="row align-items-center">
          <!-- button group on the left -->
          <div class="col-md-4 mt-4">
            <div class="btn-group" role="group">
              <a href="/"><button type="button" class="btn mr-3 rounded-pill orange-button">Home</button></a>
              <a href="/about"><button type="button" class="btn mr-3 rounded-pill orange-button">About</button></a>
              <a href="/vocabulary-list"><button type="button" class="btn mr-3 rounded-pill orange-button">Vocabulary</button></a>

              <div class="btn-group dropdown-hover">
                <button type="button" id="verbs-btn" class="btn dropdown-toggle rounded-pill orange-button" data-toggle="dropdown">Verbs</button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/verb-list">Verb List</a>
                  <a class="dropdown-item" href="/tenses">Conjugations</a>
                  <a class="dropdown-item" href="/exceptions">Exceptions</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="container-fluid mt-5 px-5">
          <!-- below nav bar -->
          <table id="farsi-table" class="table table-striped">
            <thead>
              <tr>
                {% for eng_pronoun, farsi_pronoun in pronouns.items() %}
                    <th scope="row" class="text-center header-style">
                      <h4 class="unbolded-heading">
                        {{ farsi_pronoun["written"] }}
                        {% if farsi_pronoun["spoken"] != "" %}
                          / <span class="green-color"> {{ farsi_pronoun["spoken"] }}</span>
                        {% endif %}
                      </h4>
                      <p class="unbolded-heading">{{ eng_pronoun }}</p>
                  </th>
                {% endfor %}
                <th class="text-center" id="top-right-corner">
                  <h4>Tense</h4>
                </th>
              </tr>
            </thead>
            <tbody>
              {% for tense_name, tense_conj_formula in conj_formulas.items() %}
                <tr class="custom-row-padding">
                  {% for eng_pronoun, w_s_formula in tense_conj_formula.items() %}
                    <td scope="row" class="text-center">
                      <p class="unbolded-heading green-color display-inline-block">{{ w_s_formula["spoken"] }}</p>
                      <p class="unbolded-heading display-inline-block">{{ w_s_formula["written"] }}</p>
                    </td>
                  {% endfor %}
                  <td scope="row" id="tense-col" class="text-center">
                    <p>{{ tense_name }}</p>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>

          <!-- writing at bottom about mee -->
          <div class="d-flex justify-content-end">
            <p id="orange-text">*Half space is always present after می</p>

          </div>
        </div>
        </br>
      </div>
    </div>
  </div>
</body>

<!-- specific js page import -->
<script src="{{ url_for('static', filename='js/verb_list.js') }}"></script>

{% endblock %}