{% extends 'splash.html' %}

{% block head %}
  <title>Edit Farsi Verbs and Vocabulary</title>
  <link rel="stylesheet" href="/static/css/login_style.css">
  <link rel="stylesheet" href="/static/css/edit_style.css">
{% endblock %}

{% block content %}
<body>
  <div id="content">
    <!-- all page content -->
    <div id="inner-content">
      <div class="container-fluid">
        <!-- top row -->
        <div class="row align-items-center">
          <!-- button group on the left -->
          <div class="col-md-4 mt-4">
            <div class="btn-group" role="group">
              <a href="/"><button type="button" class="btn mr-3 rounded-pill btn-orange">Home</button></a>
              <a href="/about"><button type="button" class="btn mr-3 rounded-pill btn-orange">About</button></a>
              <a href="/vocabulary-list"><button type="button" class="btn mr-3 rounded-pill btn-orange">Vocabulary</button></a>

              <div class="btn-group dropdown-hover">
                <button type="button" id="verbs-btn" class="btn dropdown-toggle rounded-pill btn-orange" data-toggle="dropdown">Verbs</button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/verb-list">Verb List</a>
                  <a class="dropdown-item" href="/tenses">Conjugations</a>
                  <a class="dropdown-item" href="/exceptions">Exceptions</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- cards -->
        <br/>
        <div class="container mt-5">
          <div class="card gray-card rounded-lg">
            <div class="card-body">
              <!-- nav bar -->
              <nav>
                <div class="nav nav-pills justify-content-end" id="nav-pill" role="tablist">
                  <a class="nav-item rounded-pill btn-outline-orange nav-link active" id="nav-verb-tab" data-toggle="tab" href="#nav-verb" role="tab" aria-controls="nav-verb" aria-selected="true">Verb</a>
                  <a class="nav-item rounded-pill btn-outline-orange nav-link" id="nav-vocab-tab" data-toggle="tab" href="#nav-vocab" role="tab" aria-controls="nav-vocab" aria-selected="false">Vocabulary</a>
                  <a class="nav-item rounded-pill btn-outline-orange nav-link" id="nav-help-tab" data-toggle="tab" href="#nav-help" role="tab" aria-controls="nav-help" aria-selected="false">Help</a>
                </div>
              </nav>

              <!-- corresponding content -->
              <div class="tab-content" id="nav-tabContent">
                <!-- verb content -->
                <div class="tab-pane fade show active" id="nav-verb" role="tabpanel" aria-labelledby="nav-verb-tab">
                  <div class="container">
                    <form class="mx-5 mt-2">
                      <div class="row">
                        <div class="col-4">
                          <input type="search" class="form-control" id="search" placeholder="Search for a Farsi Infinitive to Edit">
                        </div>
                      </div>
                    </form>
                    <div class="card rounded-lg mx-5 mb-5 mt-2" id="verb">
                      <div class="card-body mx-5 my-4">
                        <form>
                          <!-- english and infinitive row -->
                          <div class="row">
                            <div class="col">
                              <label for="english">English Definition <span class="red-text">*</span></label>
                              <!-- <a tabindex="0" class="btn btn-link" role="button" data-toggle="popover" data-trigger="hover" data-content="Some content about the field">
                                <i class="fas fa-question-circle"></i>
                              </a> -->
                              <input type="text" class="form-control" id="english" required>
                            </div>
                            <div class="col">
                              <label for="infinitive">Verb Infinitive <span class="red-text">*</span></label>
                              <input type="text" class="form-control" id="infinitive" required>
                            </div>
                          </div>
  
                          <!-- written and spoken row -->
                          <div class="row mt-4">
                            <div class="col">
                              <label for="written">Present Stem - Written <span class="red-text">*</span></label>
                              <input type="text" class="form-control" id="written" required>
                            </div>
                            <div class="col">
                              <label for="spoken">Present Stem - Spoken</label>
                              <input type="text" class="form-control" id="spoken">
                            </div>
                          </div>
  
                          <!-- common use row -->
                          <div class="row mt-4">
                            <div class="col">
                              <label for="commonuse-1">Common Use (1) <span class="red-text">*</span></label>
                              <input type="text" class="form-control" id="commonuse-1" required>
                            </div>
                            <div class="col">
                              <label for="commonuse-2">Common Use (2)</label>
                              <input type="text" class="form-control" id="commonuse-2">
                            </div>
                          </div>
  
                          <!-- submit button or reset button -->
                          <div class="row mt-5">
                            <div class="col d-flex justify-content-center">
                              <button class="btn btn-primary mr-2" type="submit">Submit</button>
                              <button type="reset" class="btn btn-danger"><i class="fas fa-rotate-right"></i></button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- vocab -->
                <div class="tab-pane fade" id="nav-vocab" role="tabpanel" aria-labelledby="nav-vocab-tab">

                </div>
                
                <!-- help -->
                <div class="tab-pane fade" id="nav-help" role="tabpanel" aria-labelledby="nav-help-tab">

                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<!-- specific js page import -->
<script src="{{ url_for('static', filename='js/edit.js') }}"></script>

{% endblock %}