{% extends 'splash.html' %}

{% block head %}
  <title>Login</title>
  <link rel="stylesheet" href="/static/css/login_style.css">
{% endblock %}

{% block content %}
<body>
  <div id="content">
    <!-- all page content -->
    <div id="inner-content">
      <div class="container-fluid">
        <!-- top row -->
        <div class="row align-items-center">
          <!-- button group on the left -->
          <div class="col-md-4 mt-4">
            <div class="btn-group" role="group">
              <a href="/"><button type="button" class="btn mr-3 rounded-pill orange-button">Home</button></a>
              <a href="/about"><button type="button" class="btn mr-3 rounded-pill orange-button">About</button></a>
              <a href="/vocabulary-list"><button type="button" class="btn mr-3 rounded-pill orange-button">Vocabulary</button></a>

              <div class="btn-group dropdown-hover">
                <button type="button" id="verbs-btn" class="btn dropdown-toggle rounded-pill orange-button" data-toggle="dropdown">Verbs</button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/verb-list">Verb List</a>
                  <a class="dropdown-item" href="/tenses">Conjugations</a>
                  <a class="dropdown-item" href="/exceptions">Exceptions</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- sign in part -->
        <form action="/submit-login" method="POST" data-incorrect-password="{{ incorrect_password }}">
          <div class="form-row align-items-center justify-content-center mt-5">
            <div class="col-auto">
              <!-- <label for="password">Password:</label> -->
              <input type="password" class="form-control" id="password" name="password" required placeholder="Enter Password">
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
          <div class="form-row justify-content-center mt-2">
            <div class="col-auto">
              <div class="incorrect-password" role="alert" style="display: none; color: red;">
                Incorrect password.
              </div>
            </div>
          </div>
        </form>
      

      </div>
    </div>
  </div>
</body>

<script src="{{ url_for('static', filename='js/login.js') }}"></script>

{% endblock %}