{% extends 'splash.html' %}

{% block head %}
  <title>Farsi Verbs</title>
  <link rel="stylesheet" href="/static/css/sub_style.css">
  <link rel="stylesheet" href="/static/css/single_verb_style.css">
{% endblock %}

{% block content %}
<body>
  <div class="container-fluid">
    <!-- top row -->
    <div class="row align-items-center">
      <!-- button group on the left -->
      <div class="col-md-4 mt-4">
        <div class="btn-group" role="group">
          <a href="/"><button type="button" class="btn mr-3 rounded-pill">Home</button></a>
          <a href="/about"><button type="button" class="btn mr-3 rounded-pill">About</button></a>
          <a href="/vocabulary-list"><button type="button" class="btn mr-3 rounded-pill">Vocabulary</button></a>
          
          <div class="btn-group dropdown-hover">
            <button type="button" id="verbs-btn" class="btn dropdown-toggle rounded-pill" data-toggle="dropdown">Verbs</button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/verb-list">Verb List</a>
              <a class="dropdown-item" href="/tenses">Conjugations</a>
              <a class="dropdown-item" href="/exceptions">Exceptions</a>
            </div>
          </div>                        
        </div>
      </div>
    </div>

    <div class="container mt-5">
    <!-- below nav bar -->
    <table id="farsi-table" class="table table-striped">
      <thead>
        <tr>
          {% for eng_pronoun, farsi_pronoun in pronouns_dict.items() %}
            {% if eng_pronoun == "me" %}
              <th scope="row" class=" text-center" style="border-bottom: solid">
            {% else %}
              <th scope="row" class=" text-center" style="border-bottom: solid">
            {% endif %}
                <h4 id="unbolded-heading">
                  {{ farsi_pronoun["written"] }}
                  {% if farsi_pronoun["spoken"] != "" %}
                    / <span style="color: rgb(3, 187, 3)"> {{ farsi_pronoun["spoken"] }}</span>
                  {% endif %}
                </h4>
                <p id="unbolded-heading">{{ eng_pronoun }}</p>
            </th>
          {% endfor %}
          <th class="text-center" id="top-right-corner">
            <h3 style="color: #ff5f14">{{ word_dict["infinitive"] }}</h3>
            {% if word_dict["present_root"]["spoken"] != [] %}
              <h5 id="unbolded-heading" style="display: inline-block; color: rgb(3, 187, 3)">{{ word_dict["present_root"]["spoken"][-1] }}</h5>
            {% endif %}
            <h5 id="unbolded-heading" style="display: inline-block ">{{ word_dict["present_root"]["written"]|combine_list }}</h5>
            <!-- <p id="unbolded-heading" style="display: inline-block;">:PS</p> -->
          </th>
        </tr>
      </thead>
      <tbody>
        {% for tense_name in tense_order %}
          <tr>
            {% for eng_pronoun in pronouns_dict %}
              <td scope="row" class="text-center">
                <h5 id="unbolded-heading">{{ word_dict[tense_name][eng_pronoun]["written"] }}</h5>
                <h5 id="unbolded-heading" style="color: rgb(3, 187, 3)">{{ word_dict[tense_name][eng_pronoun]["spoken"] }}</h5>
              </td>
            {% endfor %}
            <td scope="row" class="text-center" style="background-color: white; border-top: none; border-left: solid;">
              <h5>{{ tense_name }}</h5>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>

  </div>

</body>

<script src="{{ url_for('static', filename='js/nav_buttons.js') }}"></script>

{% endblock %}