{% extends 'splash.html' %}

{% block head %}
  <title>Farsi Verbs</title>
  <link rel="stylesheet" href="/static/css/verbs_style.css">
{% endblock %}

{% block content %}
<body>
  <div id="content">
    <div id="background-image"></div>
    <!-- all page content -->
    <div class="inner-content">
      <div class="container-fluid">
        <!-- top -->
        <div class="row align-items-center">
          <div class="col-md-4">
            <div class="btn-group" role="group">
              <a href="/"><button type="button" class="btn mr-3 rounded-pill">Home</button></a>
              <a href="/about"><button type="button" class="btn mr-3 rounded-pill">About</button></a>
              <a href="/vocabulary-list"><button type="button" class="btn mr-3 rounded-pill">Vocabulary</button></a>
              
              <div class="btn-group dropdown-hover">
                <button type="button" id="verbs-btn" class="btn dropdown-toggle rounded-pill" data-toggle="dropdown">Verbs</button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/verb-list">Verb List</a>
                  <a class="dropdown-item" href="/tenses">Conjugations</a>
                  <a class="dropdown-item" href="/exceptions">Exceptions</a>
                </div>
              </div>                        
            </div>
          </div>

          <!-- H1 tag in the center -->
          <div class="col-md-4">
              <h1 id="page-title">Verb List</h1>
          </div>

          <!-- button group on the right -->
          <div class="col-md-4 d-flex justify-content-end">
            <form class="form-inline">
              <div id="no-padding" class="col-12">
                <input id="full-width-search-bar" class="form-control" type="search" placeholder="Search" aria-label="Search">
              </div>
            </form>
          </div>
        </div>
      </div>


      <div>
        <!-- container set up of page -->
        <div class="container-fluid text-center">

          <!-- col need a row container -->
          <div class="row mt-3">

            <!-- verbs table setup -->
            <div class="col-9">
              <br><br>

              <!-- card -->
              <!-- adds padding mx-auto, then mt-5 top margin, w-75 controls width of the card -->
              <div class="card w-75 mx-auto" style="opacity: 0.92;">
                <div class="card-body">
                  <div class="card-title">

                    <!-- table -->
                    <div class="container px-3 py-3">
                    <table id="farsi-table" class="table table-bordered table-hover">
                      <!-- title -->
                      <thead>
                        <tr>
                          <th scope="col"><h2>English</h2></th>
                          <th scope="col"><h2>Farsi</h2></th>
                        </tr>
                      </thead>

                      <!-- body of table -->
                      <tbody>
                        {% for item in verbs %}
                          <!-- row -->
                          <tr class="clickable-row" data-url="{{ url_for ('set_word_dict', word_dict=item)}}">
                              <td scope="row"><h4 id="unbolded-heading">{{ item.english }}</h4></td>
                              <td scope="row"><h4 id="unbolded-heading">{{ item.infinitive }}</h4></td>
                          </tr>
                        {% endfor %}
                      </tbody>


                    </table>
                  </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- sorting/filtering/searching setup -->
            <div class="col-3">
              <br><br>
              <div class="card mx-5" style="opacity: 0.92;">
                <div class="card-body">
                  <div id="search-bar">
                    <form class="form-inline">
                        <div id="no-padding" class="col-12">
                            <input id="full-width-search-bar" class="form-control" type="search" placeholder="Search" aria-label="Search">
                        </div>
                    </form>
                  </div>

                  <div class="mt-4" style="text-align: left;">
                    <label>
                      <input type="checkbox" name="spoken_only" value="yes">
                      <span style="padding-left: 5px">Spoken Only</span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>

  <script>
    $(document).ready(function() {
        $('.clickable-row').click(function() {
          const url = $(this).data('url')
          window.location = url; // replace '#' with the URL you want to use
        });
    });

    $(document).ready(function () {
      $('#verbs-btn').click(function (event) {
        event.stopPropagation();
        window.location.href = "/verb-list";
      });
    });
  </script>

</body>

{% endblock %}
</html>