{% extends 'splash.html' %}

{% block head %}
  <title>Farsi Verbs</title>
  <link rel="stylesheet" href="/static/css/verbs_style.css">
  <link rel="stylesheet" href="/static/css/sub_style.css">
{% endblock %}

{% block content %}
<body>
  <div id="content">
    <div id="background-image"></div>
    <!-- all page content -->
    <div class="inner-content">

      <div class="container-fluid">
        <!-- top row -->
        <div class="row align-items-center">
          <!-- button group on the left -->
          <div class="col-md-4 mt-4">
            <div class="btn-group" role="group">
              <a href="/"><button type="button" class="btn mr-3 rounded-pill">Home</button></a>
              <a href="/about"><button type="button" class="btn mr-3 rounded-pill">About</button></a>
              <a href="/vocabulary-list"><button type="button" class="btn mr-3 rounded-pill">Vocabulary</button></a>
              
              <div class="btn-group dropdown-hover">
                <button type="button" id="verbs-btn" class="btn dropdown-toggle rounded-pill" data-toggle="dropdown">Verbs</button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/verb-list">Verb List</a>
                  <a class="dropdown-item" href="/tenses">Conjugations</a>
                  <a class="dropdown-item" href="/exceptions">Exceptions</a>
                </div>
              </div>                        
            </div>
          </div>
          <!-- search bar on the right -->
          <!-- <div class="col-md-4 d-flex justify-content-end">
            <form class="form-inline">
              <div id="no-padding" class="col-12">
                <input id="full-width-search-bar" class="form-control" type="search" placeholder="Search" aria-label="Search">
              </div>
            </form>
          </div> -->
        </div>

        <div class="row align-items-center mt-3">
          <!-- H1 tag in the center -->
          <div class="col">
            <h1 id="page-title">Verb List</h1>
          </div>
        </div>
        
        <!-- verb table set up -->
        <!-- card -->
        <!-- <div class="card mt-5 custom-card-bg"> -->
          <!-- <div class="card-body"> -->
          <div class="container-fluid">
            <!-- items in table, radio buttons, search bar -->
            <div class="row mb-4 mt-5">

              <!-- # items in table -->
              <div class="col-4 d-flex justify-content-start">
                <label for="rows-per-page" style="color: white">Rows per page:</label>
                <select id="rows-per-page">
                  <option value="15">15</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                </select>
              </div>

              <!-- radio buttons -->
              <div class="col-4 d-flex justify-content-center">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                  <label class="btn active">
                    <input type="radio" name="options" id="option1" autocomplete="off" value="All" checked>All
                  </label>
                  <label class="btn">
                    <input type="radio" name="options" id="option2" autocomplete="off" value="transitive">Transitive
                  </label>
                  <label class="btn">
                    <input type="radio" name="options" id="option3" autocomplete="off" value="intransitive">Intransitive
                  </label>
                </div>
              </div>

              <!-- search bar -->
              <div class="col-4 d-flex justify-content-end">
                <form class="form-inline">
                  <input class="form-control" type="search" placeholder="Search" id="search-input">
                </form>
              </div>

            </div>

            <!-- table stuff -->
            <div class="card-title">
              <table id="farsi-table" class="table table-hover table-striped">
                <!-- title -->
                <thead>
                  <tr>
                    <th scope="col"><h4>English</h4></th>
                    <th scope="col"><h4>Infinitive</h4></th>
                    <th scope="col"><h4>Present Stem</h4></th>
                    <th scope="col"><h4>Past Stem</h4></th>
                  </tr>
                </thead>

                <!-- body of table -->
                <tbody id="table-body">
                  {% for item in verbs %}
                    <!-- row -->
                    <tr class="clickable-row" data-url="{{ url_for ('set_word_dict', word_dict=item)}}" data-verb-type="{{ item.verb_type }}">
                        <td scope="row"><h5 id="unbolded-heading">{{ item.english }}</h5></td>
                        <td scope="row"><h5 id="unbolded-heading">{{ item.infinitive }}</h5></td>
                        <td scope="row"><h5 id="unbolded-heading">{{ item.present_root }}</h5></td>
                        <td scope="row"><h5 id="unbolded-heading">{{ item.past_root }}</h5></td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          <!-- </div> -->
        <!-- </div> -->

        <!-- pagination buttons -->
        <div class="row justify-content-end mr-1 mt-3">
          <nav>
            <ul class="pagination">
              <!-- Pagination items will be inserted here from javascript -->
            </ul>
          </nav>
        </div>

        <!-- to remove container, remove this div -->
      </div> 

      </div>
    </div>
  </div>

  <!-- nav bar buttons for verb-list dropdown -->
  <script src="{{ url_for('static', filename='js/verbs_button.js') }}"></script>

  <!-- specific js page import -->
  <script src="{{ url_for('static', filename='js/verb_list.js') }}"></script>


</body>

{% endblock %}