{% extends 'splash.html' %}

{% block head %}
  <title>Farsi Verbs</title>
  <link rel="stylesheet" href="/static/css/verbs_style.css">
  <link rel="stylesheet" href="/static/css/lists_style.css">
{% endblock %}

{% block content %}
<body>
  <div id="content">
    <!-- all page content -->
    <div id="inner-content">

      <div class="container-fluid">
        <!-- top row -->
        <div class="row align-items-center">
          <!-- button group on the left -->
          <div class="col-md-4 mt-4">
            <div class="btn-group" role="group">
              <a href="/"><button type="button" class="btn mr-3 rounded-pill orange-button">Home</button></a>
              <a href="/about"><button type="button" class="btn mr-3 rounded-pill orange-button">About</button></a>
              <a href="/vocabulary-list"><button type="button" class="btn mr-3 rounded-pill orange-button">Vocabulary</button></a>

              <div class="btn-group dropdown-hover">
                <button type="button" id="verbs-btn" class="btn dropdown-toggle rounded-pill orange-button" data-toggle="dropdown">Verbs</button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/verb-list">Verb List</a>
                  <a class="dropdown-item" href="/tenses">Conjugations</a>
                  <a class="dropdown-item" href="/exceptions">Exceptions</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row align-items-center mt-3">
          <!-- H1 tag in the center -->
          <div class="col">
            <h1 id="page-title">Verb List</h1>
          </div>
        </div>
        
        <!-- verb table set up -->
        <div class="container-fluid w-75 align-items-center">
          <!-- # rows in table and search bar -->
          <div class="row mb-4 mt-5">
            <!-- search bar -->
            <div class="col-6 d-flex justify-content-start">
              <form class="form-inline">
                <input class="form-control" type="search" placeholder="Search" id="search-input">
              </form>
            </div>

            <!-- title of page -->
            <!-- <div class="col-4 align-items-center">
              <h1 class="white-text d-flex justify-content-center">Verb List</h1>
            </div> -->

            <!-- # items in table -->
            <div class="col-6 d-flex justify-content-end align-items-center">
              <div class="input-group justify-content-end mr-3">
                <div id="dropdown-width">
                  <select class="custom-select" id="rows-per-page">
                    <option value="15">15 Rows</option>
                    <option value="25">25 Rows</option>
                    <option value="50">50 Rows</option>
                  </select>
                </div>
              </div>

              <a href="{{ url_for ('login')}}">
                <button class="btn blue-button">
                  <i class="fa-solid fa-pen-to-square"></i>
                </button>
              </a>              
            </div>

          </div>

          <!-- table stuff -->
          <table id="farsi-table" class="table table-hover table-striped">
            <!-- title -->
            <thead>
              <tr>
                <th scope="col" class="col-4">
                  <div class="d-flex justify-content-between align-items-center">
                    <h5>English</h5>
                    <button id="eng-sort-btn" class="btn btn-link btn-sm orange-button">
                      <i class="fas fa-sort"></i>
                    </button>
                  </div>
                  <br/>
                </th>
                <th scope="col" class="col-4"><h5>Common Use</h5><br/></th>
                <th scope="col" class="col-2">
                  <h5>Pres. Stem</h5>
                  <div class="custom-control custom-checkbox align-self-center">
                    <input type="checkbox" class="custom-control-input" id="spoken-checkbox">
                    <label class="custom-control-label d-flex align-items-center" for="spoken-checkbox" id="spoken-label">
                      <small>Spoken Only</small>
                    </label>
                  </div>
                </th>
                <th scope="col" class="col-2">
                  <div class="d-flex justify-content-between align-items-center">
                    <h5>Infinitive</h5>
                    <button id="farsi-sort-btn" class="btn btn-link btn-sm orange-button">
                      <i class="fas fa-sort"></i>
                    </button>
                  </div>
                  <br/>
                </th>
              </tr>
            </thead>

            <!-- body of table -->
            <tbody id="table-body">
              {% for item in verbs %}
                <!-- row -->
                <tr class="clickable-row" data-url="{{ url_for ('single_verb', counter=item["counter"])}}">
                  <td scope="row"><h5 class="unbolded-heading">{{ item.english|capitalize_first_word }}</h5></td>
                  <td scope="row"><h5 class="unbolded-heading">{{ item.example }}</h5></td>
                  <td scope="row">
                    <h5 class="unbolded-heading display-inline">{{ item["Pres. Stem"]["written"]|combine_list }}</h5>
                    {% if item["Pres. Stem"]["spoken"] != [] %}
                      <h5 class="unbolded-heading display-inline green-color">{{ item["Pres. Stem"]["spoken"][-1] }}</h5>
                    {% endif %}
                  </td>
                  <td scope="row"><h5 class="unbolded-heading">{{ item.infinitive }}</h5></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>

          <!-- pagination buttons -->
          <div class="row justify-content-end mr-1 mt-3">
            <nav>
              <ul class="pagination">
                <!-- Pagination items will be inserted here from javascript -->
              </ul>
            </nav>
          </div>

        </div>

      </div>
    </div>
  </div>
</body>

<!-- specific js page import -->
<script src="{{ url_for('static', filename='js/verb_list.js') }}"></script>

{% endblock %}