{% extends 'splash.html' %}

{% block head %}
  <title>Farsi Vocabulary</title>
  <link rel="stylesheet" href="/static/css/lists_style.css">
  <link rel="stylesheet" href="/static/css/verbs_style.css">
  <link rel="stylesheet" href="/static/css/vocab_style.css">
{% endblock %}

{% block content %}
<body>
  <div id="content">
    <!-- all page content -->
    <div id="inner-content">

      <div class="container-fluid">
        <!-- top row -->
        <div class="row align-items-center">
          <!-- button group on the left -->
          <div class="col-md-4 mt-4">
            <div class="btn-group" role="group">
              <a href="/"><button type="button" class="btn mr-3 rounded-pill">Home</button></a>
              <a href="/about"><button type="button" class="btn mr-3 rounded-pill">About</button></a>
              <a href="/vocabulary-list"><button type="button" class="btn mr-3 rounded-pill">Vocabulary</button></a>

              <div class="btn-group dropdown-hover">
                <button type="button" id="verbs-btn" class="btn dropdown-toggle rounded-pill" data-toggle="dropdown">Verbs</button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/verb-list">Verb List</a>
                  <a class="dropdown-item" href="/tenses">Conjugations</a>
                  <a class="dropdown-item" href="/exceptions">Exceptions</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row align-items-center mt-3">
          <!-- H1 tag in the center -->
          <div class="col">
            <h1 id="page-title">Vocabulary List</h1>
          </div>
        </div>
        
        <!-- verb table set up -->
        <div class="container-fluid w-50">
          <!-- # rows in table and search bar -->
          <!-- search bar -->
          <div class="row mb-4 mt-5">
            <div class="col-6 d-flex justify-content-start">
              <form class="form-inline">
                <input class="form-control" type="search" placeholder="Search" id="search-input">
              </form>
            </div>

            <!-- # items in table -->
            <div class="col-6 d-flex justify-content-end">
              <div class="input-group justify-content-end">
                <div id="dropdown-width">
                  <select class="custom-select" id="rows-per-page">
                    <option value="15">15 Rows</option>
                    <option value="25">25 Rows</option>
                    <option value="50">50 Rows</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <!-- table stuff -->
          <table id="farsi-table" class="table table-hover table-striped">
            <!-- title -->
            <thead>
              <tr>
                <th scope="col" class="col-6">
                  <div class="d-flex justify-content-between align-items-center">
                    <h5>English</h5>
                    <button id="eng-sort-btn" class="btn btn-link btn-sm">
                      <i class="fas fa-sort"></i>
                    </button>
                  </div>
                  <br/>
                </th>
                <th scope="col" class="col-6">
                  <div class="d-flex justify-content-between align-items-center">
                    <h5>Farsi</h5>
                    <button id="farsi-sort-btn" class="btn btn-link btn-sm">
                      <i class="fas fa-sort"></i>
                    </button>
                  </div>
                  <div class="custom-control custom-checkbox align-self-center">
                    <input type="checkbox" class="custom-control-input" id="spoken-checkbox">
                    <label class="custom-control-label d-flex align-items-center" for="spoken-checkbox" id="spoken-label">
                      <small>Spoken Only</small>
                    </label>
                  </div>
                  <br/>
                </th>
              </tr>
            </thead>

            <!-- body of table -->
            <tbody id="table-body">
              {% for item in vocabulary %}
                <!-- row -->
                <tr>
                  <td scope="row"><h5 class="unbolded-heading">{{ item["english"]|capitalize_first_word }}</h5></td>
                  <td scope="row">
                    <h5 class="unbolded-heading display-inline">{{ item["farsi"]["written"] }}</h5>
                    {% if item["farsi"]["spoken"] != "" %}
                      <h5 class="unbolded-heading display-inline green-color">{{ item["farsi"]["spoken"] }}</h5>
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>

          <!-- pagination buttons -->
          <div class="row justify-content-end mr-1 mt-3">
            <nav>
              <ul class="pagination">
                <!-- Pagination items will be inserted here from javascript -->
              </ul>
            </nav>
          </div>

        </div>

      </div>
    </div>
  </div>
</body>

<!-- specific js page import -->
<script src="{{ url_for('static', filename='js/vocab_list.js') }}"></script>

{% endblock %}